<mat-toolbar color="primary">  
  <h1>  
    ngImageUpload   
  </h1>  
  <button mat-button routerLink="/">multiprogress</button>  
  <button mat-button routerLink="/upload">upload</button>
  <button mat-button routerLink="/upload-progress">upload-progress</button>
  <button mat-button routerLink="/multiple-add">multiple-add</button>
</mat-toolbar>
<router-outlet></router-outlet>