<p>
    Start editing to see some magic happen :)
</p>
<li *ngFor="let file of data">
    <mat-progress-bar [value]="file.progress"></mat-progress-bar>
    <span id="file-label">

    </span>
</li>

<img *ngFor='let url of urls' [src]="url" height="200"> <br />

<input accept="image/*" type='file' (change)="onSelectFile($event)" multiple>
<button (click)="upload()" type="button">อัพโหลด</button>